.content {
  width: calc(100% - 180px);
  position: relative;
  padding: 30px 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content:before {
  z-index: 33;
  content: " ";
  width: 15px;
  height: 7px;
  position: absolute;
}
